# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.python-version
.python2/

# Log files
*.log
*.log.jsonl
*.coverage
tests/reports/

# Mac OS
*.DS_Store

# venv
hexapod_venv/
python3.11/
python3.12/